:root {
	--color-bg: #FEFFFF;
	--color-bg-variant: #e1f8f6;
	--color-primary: #3AAFA9;
	--color-primary-dark: #2B7A78;
	--color-white: #fff;
	--color-orange: #e96e3a;
	--color-text-primary: #212121;
	--color-text-secondary: #8E8D8A;
	--color-divider: #C5C6C7;

	--transition: all .2s linear;
}